body {
    padding: 60px 0;
    background: #fff;
    font-family: 'Ubuntu', sans-serif;
}
.footer {
    padding-top: 30px;
}
.error {
    color: red;
    font-size: .8em;
}
.input-group {
    margin: 15px 0;
    border-radius: 10px;
}
li a, li a:hover {
    color: #fff;
    text-decoration: none;
}
nav {
    margin-bottom: 15px;
}
